<ion-view view-title="{{vm.venue_detail.name}} - Online Orders" ng-controller="OrderCtrl as vm" class="Customers orders reservations">

    <ion-content class="has-header orders" has-bouncing="true" overflow-scroll="true">


        <div class="row customerstyle">

            <div class="col col-33">
                <div id="pos-options">
                    <div id="servers">
                        <select ng-model="vm.platform" ng-change="vm.onSelectPlatform(vm.platform)" ng-options="platform.value as platform.name for platform in vm.platforms">
                                </select>
                    </div>
                    <div id="order-type">
                        <select ng-model="vm.orderType" ng-change="vm.onSel(vm.orderType)" ng-options="o_type.slug as o_type.type for o_type in vm.order_type">
                               </select>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="list list-inset search-box">
                    <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search"
                           ng-model="vm.order_search"
                           placeholder="Search"
                           ng-change="vm.showVal(vm.order_search)">
                           <ion-spinner icon="bubbles" class="spinner-assertive" ng-show="spinner"></ion-spinner>
                  </label>

                </div>


                <ion-scroll id="pos-customers" overflow-scroll="false" direction="y" scrollbar-x="true" has-bouncing="true">
                    <ul class="list">

                        <li class="card" ng-repeat="order1 in vm.orders | filter:search:strict" ng-click="vm.viewOrderDetail(order1, vm.tab)" ng-class="{active: order1.order_id == vm.order.order_id}">
                            <a class="item ">
                                <!--  <span ng-show="customer.new  == 0" class="badge badge-energized new-label">New</span> -->
                                <h3><strong>{{ order1.first_name }} {{ order1.last_name }}</strong> ( {{order1.mobile_number }})</h3>
                                <p ng-hide="order1.kot_unique_id != null"> Order # {{order1.order_id}} <time class="order-time">  {{order1.created_at | moment: 'format': 'MMM Do YYYY, h:mm:ss a'}}  </time> </p>
                                <i class="icon ion-ios-arrow-right"></i>
                                <!-- <span ng-show="order1.new  == 0" ng-click="vm.change_status(order1.order_id)" class="badge badge-energized new-label">New</span> -->
                                <span class="status placed_status" ng-show="order1.order_status == 0">{{vm.OrderStatus(order1.order_status)}}</span>
                                <span class="status reject_status" ng-show="order1.order_status == 1">{{vm.OrderStatus(order1.order_status)}}</span>
                                <span class="status accept_status" ng-show="order1.order_status == 2">{{vm.OrderStatus(order1.order_status)}}</span>
                                <span class="status preparing_status" ng-show="order1.order_status == 3">{{vm.OrderStatus(order1.order_status)}}</span>
                                <span class="status delivering_status" ng-show="order1.order_status == 4">{{vm.OrderStatus(order1.order_status)}}</span>
                                <span class="status delivered_status" ng-show="order1.order_status == 5">{{vm.OrderStatus(order1.order_status)}}</span>
                            </a>
                        </li>

                    </ul>
                    <ion-infinite-scroll ng-if="vm.noMoreItemsAvailable" on-infinite="vm.loadMore()" distance="10%"></ion-infinite-scroll>
                </ion-scroll>
            </div>

            <div class="col col-67">
                <div class="data-content" ng-show="vm.orders.length > 0">
                    <div id="tabs">
                        <button class="tab" ng-click="vm.tab = 1" ng-class="{
                                        active: vm.tab === 1
                                    }">Order # {{vm.order.order_id}}</button>
                        <button class="tab" ng-click="vm.tab = 2" ng-class="{
                                        active: vm.tab === 2
                                    }">Status
                            <span class="status_bar placed_status" ng-show="vm.order.order_status == 0">{{vm.OrderStatus(vm.order.order_status)}}</span>
                            <span class="status_bar reject_status" ng-show="vm.order.order_status == 1">{{vm.OrderStatus(vm.order.order_status)}}</span>
                            <span class="status_bar accept_status" ng-show="vm.order.order_status == 2">{{vm.OrderStatus(vm.order.order_status)}}</span>
                            <span class="status_bar preparing_status" ng-show="vm.order.order_status == 3">{{vm.OrderStatus(vm.order.order_status)}}</span>
                            <span class="status_bar delivering_status" ng-show="vm.order.order_status == 4">{{vm.OrderStatus(vm.order.order_status)}}</span>
                            <span class="status_bar delivered_status" ng-show="vm.order.order_status == 5">{{vm.OrderStatus(vm.order.order_status)}}</span>

                                </button>
                        <button class="tab" ng-click="vm.tab = 3" ng-class="{
                                        active: vm.tab === 3
                                    }">Feedback</button>
                        <button class="tab" ng-click="vm.tab = 4; vm.initMap();" ng-class="{
                                        active: vm.tab === 4
                                    }">Map</button>
                        <button class="tab" ng-click="vm.tab = 5;vm.clearMsgcount()" ng-class="{
                                        active: vm.tab === 5
                                    }">Chat <span class="badge badge-energized">{{vm.unreadCount}}</span></button>

                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix clear"></div>
                    <div class="tab_body">
                        <div ng-show="vm.tab === 1">
                            <ion-scroll id="order-details" overflow-scroll="false" direction="y" scrollbar-x="true" has-bouncing="true">
                                <div class="order-container">
                                    <div id="view-order">
                                        <div class="row">
                                            <div ng-show="vm.order.shipping_type==='delivery'" class="col col-50 customer-detail">
                                                <h2>{{ vm.order.first_name }} {{ vm.order.last_name }}</h2>
                                                <p><span> {{vm.order.customer_address.title}}</span> : {{vm.order.customer_address.addressLine1}} {{vm.order.customer_address.addressLine2}} {{vm.order.customer_address.city}} {{vm.order.customer_address.postal_code}}</p>
                                                <p><span>Phone No</span> : {{vm.order.mobile_number}} </p>
                                                <p><span>Email</span> : {{vm.order.email}} </p>

                                            </div>

                                            <div ng-show="vm.order.shipping_type==='pickup'" class="col col-50 ">
                                                <h2>{{ vm.order.first_name }} {{ vm.order.last_name }}</h2>
                                                <p><span>Phone No</span> : {{vm.order.mobile_number}} </p>
                                                <p><span>Email</span> : {{vm.order.email}} </p>
                                                <h2 class="pickup ">Pickup</h2>
                                            </div>
                                            <div class="col col-50">

                                                <ul class="list">
                                                    <li class="item kot-section">
                                                        <div class="row">
                                                            <div class="col-33"> <strong> Select KOT Time</strong></div>
                                                            <div class="col-33 text-center">
                                                                <select ng-model="vm.kot_time" class="kot-time" ng-disabled="vm.order.order_status === 5 || vm.order.order_status === 1 || vm.order.order_status === 0  ">
                                                                    <option  value="10"> 10 min</option>
                                                                    <option value="15"> 15 min</option>
                                                                    <option value="20"> 20 min</option>
                                                                    <option value="25"> 25 min</option>
                                                                    <option value="30" selected> 30 min</option>
                                                                    <option value="35"> 35 min</option>
                                                                    <option value="40"> 40 min</option>
                                                                    <option value="45"> 45 min</option>
                                                                    <option value="50"> 50 min</option>
                                                                    <option value="55"> 55 min</option>
                                                                    <option value="60"> 60 min</option>
                                                                    <option value="65"> 65 min</option>
                                                                    <option value="70"> 70 min</option>
                                                                    <option value="75"> 75 min</option>
                                                                    <option value="80"> 80 min</option>
                                                                    <option value="85"> 85 min</option>
                                                                    <option value="90"> 90 min</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-33 text-right">
                                                                <button class="button button-balanced button-small send-to-kot" ng-disabled="vm.order.order_status === 5 || vm.order.order_status === 1 || vm.order.order_status === 0  " ng-click="vm.sendToKitchen()">
                                                                        Send to kot
                                                                </button>
                                                            </div>
                                                        </div>

                                                    </li>

                                                    <li class="item method">
                                                        <label class="item-input item-select">
                                          <div class="input-label">Payment By:</div>
                                          <select ng-change="vm.update_payment_method(vm.paid_by)" ng-model="vm.paid_by" ng-disabled="vm.order.order_status === 5 || vm.order.order_status === 1 || vm.order.order_status === 0 "  >
                                            <option value="cash">Cash</option>
                                            <option   value="card" >Card</option>
                                          </select>
                                        </label>
                                                    </li>

                                                    <li class="item slect-rider">
                                                        <label class="item-input item-select">
                                          <div class="input-label">Select Rider </div>
                                          <select ng-model="vm.rider_id" ng-change="vm.updaterider(vm.rider_id)" ng-options="rider.id as rider.name for rider in vm.riders" ng-disabled="vm.order.order_status === 5 || vm.order.order_status === 1 || vm.order.order_status === 0 ">
    
                                        </select>
                                        </label>
                                                    </li>

                                                    <li class="item slect-rider">
                                                        <label class="item-input item-select">
                                          <div class="input-label"> Estimated time </div>
                                          <select  ng-change="vm.update_estimated_time(vm.estimated_time)" ng-disabled="vm.order.order_status === 5 || vm.order.order_status === 1 || vm.order.order_status === 0  " ng-model="vm.estimated_time" >
                                            <option value="5">5 Minutes</option>
                                            <option value="10">10 Minutes</option>
                                            <option value="15">15 Minutes</option>
                                            <option value="20">20 Minutes</option>
                                            <option value="25">25 Minutes</option>
                                            <option value="30">30 Minutes</option>
                                            <option value="35">35 Minutes</option>
                                            <option value="40">40 Minutes</option>
                                            <option value="45">45 Minutes</option>
                                            <option value="50">50 Minutes</option>
                                            <option value="55">55 Minutes</option>
                                            <option value="60">60 Minutes</option>
                                            <option value="70">70 Minutes</option>
                                            <option value="80">80 Minutes</option>
                                            <option value="90">90 Minutes</option>
                                          </select>
                                        </label>
                                                    </li>

                                                    <li class="item method" style="position:relative;">

                                                        <label class="item item-input">
                                                    <input class="online-order-discount" type="number" ng-model="vm.discountRate" placeholder="Add Discount %" ng-readonly="vm.order.order_status === 5 || vm.order.order_status === 1 || vm.order.order_status === 0 ">
                                            </label>
                                                        <button style="position:absolute; top:5px;z-index:999;right:20px;" class="button button-small button-balanced" ng-disabled="vm.order.order_status === 5 || vm.order.order_status === 1 || vm.order.order_status === 0  || vm.discountRate ===null " ng-click="vm.applyDiscount()">Apply Discount</button>

                                                    </li>
                                                </ul>
                                            </div>


                                        </div>
                                    </div>
                                    <div id="cart">
                                        <div id="head_title" class="row">
                                            <div class="col col-50">
                                                {{vm.order.created_at | moment: 'format': 'MMM Do YYYY, h:mm:ss a'}}
                                            </div>
                                            <div class="col col-50 text-right">
                                                <button ng-hide="vm.order.order_status === '1' || vm.order.order_status === '5'" class="button button-small button-assertive" ng-click="vm.printbill()"><i class="icon ion-printer"> </i> Print Bill</button>
                                                <button ng-hide="vm.order.order_status === '1' || vm.order.order_status === '5'" class="button button-small button-balanced" ng-click="vm.printkot()"><i class="icon ion-android-print"> </i>  Print Kot</button>

                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                        <table>

                                            <thead>
                                                <tr>
                                                    <th width="60%" class="text-left">Item</th>
                                                    <th width="20%" class="text-right">Qty</th>
                                                    <th width="20%" class="text-right">Price</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in vm.order.items">
                                                    <td class="align-left">

                                                        {{ item.menu_item_name}} ({{item.price_title}})

                                                        <span class="order-discount-style" ng-show="item.discount>0">{{item.discount }} % Off</span>
                                                        <div class="clear"></div>
                                                        <div class="feature">
                                                            <!-- <span class="serving">Serving: x {{ item.serving}}</span>
                                                <span class="deal">Deal: {{ item.deal}}</span> -->
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <ul class="item_options" ng-show="item.menu_options.length">
                                                            <li ng-repeat="option in item.menu_options">
                                                                <strong>{{option.option_name}}</strong>
                                                                <div class="row" ng-if="option.option_type=='checkbox'">
                                                                    <div class="col-67 text-left ">
                                                                        <div class="option-list-item" ng-repeat="(key1, value) in option.selectedByName" ng-if="value">
                                                                            {{key1 }}
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-33 text-right">
                                                                        <div class="option-list-item" ng-repeat="(key, value) in option.selectedItemPrice">{{value | number :0}}</div>
                                                                    </div>

                                                                </div>
                                                                <div class="row option-list-item" ng-if="option.option_type=='radio'">
                                                                    <div class="col-67"> {{option.selectedByName}}</div>
                                                                    <div class="col-33 text-right">{{option.selectedItemPrice}} </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                    <td class="qty text-right">
                                                        {{item.quantity}}
                                                    </td>
                                                    <td class="text-right">
                                                        <span class="orignal_price_style" ng-show="item.discount>0">{{ (item.orignal_price+item.option_sum) *item.quantity}}</span> {{ item.discounted_price | number : 0}}
                                                    </td>

                                                </tr>
                                            </tbody>

                                            <tfoot>
                                                <tr ng-show="vm.order.subtotal!==0" style="font-weight:bold;">

                                                    <td class="align-right table-footer" colspan="2">Sub Total</td>
                                                    <td class="no-right-border2">{{vm.order.subtotal | number : 0 }}</td>

                                                </tr>
                                                <tr ng-show="vm.order.tax!==0">

                                                    <td class="align-right table-footer" colspan="2">TAX ( {{vm.order.tax_rate}} %)</td>
                                                    <td class="no-right-border2">+{{vm.order.tax | number : 0 }}</td>

                                                </tr>
                                                <tr ng-show="vm.order.discount!==0">
                                                    <td class="align-right table-footer" colspan="2">Discount ({{vm.order.discountRate}}%)</td>
                                                    <td class="no-right-border2">-{{vm.order.discount | number : 0 }}</td>
                                                </tr>
                                                <tr ng-show="vm.order.shipping_type==='delivery' && vm.order.shipping_charges !=0">
                                                    <td class="align-right table-footer" colspan="2">Delivery Charges</td>
                                                    <td class="no-right-border2">+{{vm.order.shipping_charges | number : 0}}</td>
                                                </tr>

                                                <tr>
                                                    <td class="align-right table-footer" colspan="2" style="font-weight:bold;">Total</td>
                                                    <td class="no-right-border2" style="font-weight:bold;">
                                                        {{vm.order.amount | number : 0 }}
                                                    </td>
                                                </tr>
                                                <tr ng-show="vm.order.additional_instruction">

                                                    <td colspan="3" class="text-left"> <strong>additional instruction:</strong> {{vm.order.additional_instruction}}</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <ion-list>
                                    <ion-item class="no-border"></ion-item>
                                    <ion-item class="no-border"></ion-item>
                                </ion-list>
                            </ion-scroll>
                        </div>

                        <div id="order_status" ng-show="vm.tab === 2">
                            <div class="row" ng-show="vm.order.order_status != 5">
                                <div class="col">
                                    <ul class="list">
                                        <li class="item item-icon-right">Order placed at
                                            <span class="placed-at"> {{vm.order.created_at | moment: 'format': 'MMM Do YYYY, h:mm:ss a' }}</span>
                                            <i ng-if="vm.OrderStatus(vm.order.order_status) && vm.orderStatusData.order_placed" class="icon ion-checkmark-round order_status_checked"></i>
                                        </li>
                                        <ion-radio ng-show="vm.order.order_status <= 1" class="item item-icon-right" name="status" value="1" ng-model="vm.checked" ng-click="vm.onclickstatus(vm.order.order_id, 1)">
                                            <i class="order-status-icon icon ion-close-circled "></i> Reject
                                            <i ng-if="vm.OrderStatus(vm.order.order_status) && vm.orderStatusData.reject" class="icon order_status_checked  ion-checkmark-round"></i>
                                        </ion-radio>
                                        <ion-radio ng-show="vm.order.order_status != 1" class="item item-icon-right" name="status" value="2" ng-model="vm.checked" ng-click="vm.onclickstatus(vm.order.order_id, 2)">
                                            <i class="order-status-icon icon ion-checkmark-circled"></i> Accept <i ng-if="vm.OrderStatus(vm.order.order_status) && vm.orderStatusData.accept" class="icon order_status_checked  ion-checkmark-round"></i>
                                        </ion-radio>

                                        <ion-radio ng-show="vm.order.order_status != 1" class="item item-icon-right" name="status" ng-model="vm.checked" ng-checked="vm.orderStatusData.preparing" value="3" ng-click="vm.onclickstatus(vm.order.order_id, 3)">
                                            <i class="order-status-icon icon ion-android-restaurant"></i> Preparing
                                            <i ng-if="vm.orderStatusData.preparing" class="icon ion-checkmark-round order_status_checked"></i>
                                        </ion-radio>

                                        <ion-radio ng-show="vm.order.order_status != 1" class="item item-icon-right" name="status" ng-model="vm.checked" vm.checked="vm.orderStatusData.delivery" value="4" ng-click="vm.onclickstatus(vm.order.order_id, 4)">
                                            <i class="order-status-icon icon ion-android-bicycle"></i> Delivery
                                            <i ng-if="vm.orderStatusData.delivery" class="icon ion-checkmark-round order_status_checked"></i>
                                        </ion-radio>

                                        <ion-radio ng-show="vm.order.order_status != 1 && vm.order.is_payment_confirmed === 1" ng-model="vm.order.order_status" class="item item-icon-right" name="status" value="5" ng-click="vm.onclickstatus(vm.order.order_id, 5)">
                                            <i class="order-status-icon icon ion-thumbsup"></i> Delivered
                                            <i ng-if="vm.order.order_status >=5" class="icon ion-checkmark-round order_status_checked"></i>
                                        </ion-radio>

                                        <li class="item item-toggle" ng-show="vm.order.order_status != 1">
                                            <i class="order-status-icon icon ion-cash"></i> Select payment status ({{vm.OrderPayment(vm.order.is_payment_confirmed)}})

                                            <label class="toggle">
                                    <input type="checkbox" ng-model="vm.payment_status" ng-checked="vm.order.is_payment_confirmed" ng-change="vm.change_order_payment(vm.payment_status)">
                                    <div class="track">
                                      <div class="handle"></div>
                                    </div>
                                 </label>
                                        </li>
                                    </ul>

                                </div>

                            </div>
                            <div class="order_complete text-center" ng-show="vm.order.order_status === 5">
                                <div class="empty_cart text-center" style="margin: 130px 0;">
                                    <i class="icon ion-checkmark"></i>
                                    <h2>Order Delivered</h2>
                                </div>
                            </div>

                        </div>

                        <div id="feedback" ng-show="vm.tab === 3">

                            <div ng-show="!vm.feedbackdata.isFeedback">
                                <div class="empty_cart text-center" style="margin: 130px 0;">
                                    <img src="img/app/empty_order.png">
                                    <h2> No Feedback place Yet!</h2>

                                </div>
                            </div>
                            <ul ng-show="vm.feedbackdata.isFeedback" class="list">
                                <li class="item">
                                    <div class="rating_title">Quality of Food? </div>
                                    <rating class="rating_stars" ng-model="vm.feedbackdata.quality" max="5"></rating>
                                    <div class="clear"></div>
                                </li>
                                <li ng-show="vm.feedbackdata.service" class="item">
                                    <div class="rating_title">Service efficiency? </div>
                                    <rating class="rating_stars" ng-model="vm.feedbackdata.service" max="5"></rating>
                                    <div class="clear"></div>
                                </li>
                                <li ng-show="vm.feedbackdata.value" class="item">
                                    <div class="rating_title">Value of Money? </div>
                                    <rating class="rating_stars" ng-model="vm.feedbackdata.value" max="5"></rating>
                                    <div class="clear"></div>
                                </li>

                            </ul>
                            <h2 ng-show="vm.feedbackdata.feedback">Other Comments/Suggestions </h2>
                            <textarea ng-show="vm.feedbackdata.feedback" class="input" ng-model="vm.feedbackdata.feedback" ng-disabled="NotallowFeedback"></textarea>
                        </div>

                        <div id="map" ng-show="vm.tab === 4">
                            <div id="map" data-tap-disabled="true"></div>
                        </div>


                        <div id="chat" ng-show="vm.tab === 5">

                            <div class="chat_window">
                                <ion-scroll delegate-handle="chatScroll" id="order-chat" overflow-scroll="false" direction="y" scrollbar-x="true" has-bouncing="true">
                                    <ul class="messages">
                                        <li ng-repeat="msg in vm.chatMsgs" class="message appeared" ng-class="msg.type==2 ? 'right' : 'left'">

                                            <div class="text_wrapper">
                                                <h3 class="chatname">{{msg.name}}</h3>
                                                <p>{{msg.msg}}</p>
                                                <h6>{{ msg.timestamp | moment: 'format': 'MMM Do YYYY, h:mm:ss a'}}
                                                    <h6>
                                        </li>
                                    </ul>
                                </ion-scroll>
                                <div class="bottom_wrapper clearfix">
                                    <div class="message_input_wrapper">
                                        <input class="message_input" ng-model="vm.chatmsg.msg" placeholder="Type your message here..." />
                                    </div>
                                    <div class="send_message">
                                        <div class="icon"></div>
                                        <div type="button" class="text" ng-click="vm.chatMsgSend()">Send</div>
                                    </div>
                                </div>
                                </div>


                            </div>
                        </div>


                        <div class="text-center empty_cart empty" ng-show="!vm.orders.length > 0">
                            <img  src="img/empty_cart.png">
                            <h2> No Online Order Found </h2>
                            <p>Orders will be received through Website, Mobile App. Sorry for inconvenience! </p>
                        </div>
                    </div>

                </div>

            </div>

            <div id="online-bill-print" style="display: none;">
                <div  id="#printWrapper">
               <p style="text-align:center;">       
                <img id="logo"  ng-src="{{vm.venue_detail.pos_receipt_logo}}" />
              </p>  

                <h2 style="font-size: 14px; margin: 0; text-align: center;">{{vm.venue_detail.name}}</h2>
                <p style="text-align: center;">
                    {{ vm.venue_detail.address1 }} {{ vm.venue_detail.address2 }} {{ vm.venue_detail.address3 }} {{ vm.venue_detail.city }}</br>
                    {{ vm.venue_detail.email }}</br>
                    {{ vm.venue_detail.phone_no }}</br>
                </p>
                <div ng-show="vm.bill_print.printer_header" style="border-top: 1px dashed #aaaaaa; width: 100%; display: block; margin: 10px 0;"></div>
                    <div  ng-show="vm.bill_print.printer_header" class="text-center" ng-bind-html="vm.bill_print.printer_header">
                       
                    </div>
                    <div ng-show="vm.bill_print.printer_header" style="border-top: 1px dashed #aaaaaa; width: 100%; display: block; margin: 10px 0;"></div>   
                <!--End Invoice Mid-->


                <br>
                <table>
                    <thead>
                        <h2 style="text-align: center;margin: 0;">Order # {{vm.order.order_id}}</h2>
                        <tr>
                            <td class="text-left" ng-show="vm.cart.order_type != ''" style=" padding: 3px; width:50%;">Order Type : {{vm.order.shipping_type}}</td>
                            <td class="text-right" ng-repeat="rider in vm.riders" ng-show="vm.rider_id === rider.id" style=" padding: 3px; width:50%;">Server : {{rider.name}}</td>

                        </tr>
                        <tr>
                            <td class="text-left" style=" padding: 3px; width:50%;">Date : {{ vm.order.created_at | moment: 'format': 'MMM Do YYYY ' }}</td>
                            <td class="text-right" style=" padding: 3px; width:50%;">Time : {{ vm.order.created_at | moment: 'format': 'h:mm a' }}</td>
                        </tr>
                        <tr>
                            <td class="text-left" style=" padding: 3px; width:50%;">Payment by : {{vm.order.payment_method}}</td>

                            <!--<td class="text-right" ng-show="vm.cart.table_id != '0'" style=" padding: 3px; width:50%;">Table no # {{vm.cart.table_id}} </td> #}-->
                        </tr>
                    </thead>
                </table>
                <!--   ng-if="vm.cart.order_type === 'delivery'" -->

                <div id="table">
                    <table>
                        <thead>
                            <tr class="tabletitle" style="border-bottom:1px solid #000000;border-top:1px solid #000000;">
                                <td style=" width:65%;" class="text-left">
                                    <h6>Item</h6>
                                </td>
                                <td style=" width:10%;" class="Hours">
                                    <h6 class="text-right"> Qty</h6>
                                </td>
                                <td style=" width:20%;" class="Rate">
                                    <h6 class="text-right"> S.Total</h6>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="service" ng-repeat="item in vm.order.items" style="border-bottom: 1px dashed #aaaaaa;  ">
                                <td class="tableitem" style=" padding: 10px 5px;">
                                    <div class="" style="width: 100%; float:left;">
                                        <div class="text-left">
                                            <p style="margin:0;  font-size: 12px; float: left; width:80%;">{{ item.menu_item_name}} ({{item.price_title}})<br>
                                                <i ng-show="item.discount" style="font-size: 9px;"> {{ item.discount }}% Off</i>
                                            </p>
                                        </div>
                                        <div class="text-right">
                                            <span class="orignal_price_style" ng-show="item.discount>0">{{ (item.orignal_price+item.option_sum) *item.quantity}}</span> {{ item.discounted_price | number : 0}}
                                        </div>



                                    </div>


                                    <div class="option-list" style="width: 100%; float:left;">
                                        <div ng-repeat="option in  item.menu_options">
                                            <div class="">
                                                <strong style="font-size: 12px;"><p>{{option.option_name}}</p></strong>
                                            </div>
                                            <div ng-if="option.option_type=='checkbox'">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <p ng-repeat="(key, value) in option.selectedByName" style=" width: 100%; display: block; text-align: left; "> {{key }}</p>

                                                        </td>
                                                        <td>

                                                            <p ng-repeat="(key, value) in option.selectedItemPrice" style=" width: 100%; display: block; text-align: right; ">+{{value | number :0}}</p>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>


                                            <div class="row" ng-if="option.option_type=='radio'">
                                                <div class="col col-67">
                                                    <p> {{option.selectedByName}}</p>
                                                </div>
                                                <div class="col col-33 text-right">
                                                    <span class="option_item_price">+{{option.selectedItemPrice | number :0}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td style=" vertical-align: top;   padding: 10px 5px; margin-top: -20px;" class="tableitem text-right">{{item.quantity}}</td>
                                <td style=" vertical-align: top;   padding: 10px 5px;" class="tableitem text-right">

                                    <span>{{ item.discounted_price * item.quantity | number : 0}}</span>
                                    <!-- <span>
                                                         {{( item.discounted_price + vm.option_price_count($index)) * item.quantity | number :0 }}
                                                     </span> -->

                                </td>
                            </tr>
                        </tbody>
                        <tfoot style="border-top: 1px solid #000000">
                            <tr class="tabletitle">

                                <td colspan="2" style="
                         padding: 3px;" class="Rate">
                                    <h2 style="font-size: 12px;" class="text-right">Sub Total</h2>
                                </td>
                                <td style="
                         padding: 3px;" class="payment">
                                    <h2 style="font-size: 12px;" class="text-right">{{vm.order.subtotal| number :0 }}</h2>
                                </td>
                            </tr>
                            <tr class="tabletitle" ng-show="vm.order.tax > 0">

                                <td colspan="2" style=" padding: 3px;" class="Rate">
                                    <h2 style="font-size: 12px;" class="text-right">TAX ( {{vm.order.tax_rate}} %)</h2>
                                </td>
                                <td style=" padding: 3px;" class="payment">
                                    <h2 style="font-size: 12px;" class="text-right">+{{vm.order.tax | number :0 }}</h2>
                                </td>
                            </tr>
                            <tr class="tabletitle" ng-show="vm.order.discount > 0">

                                <td colspan="2" style=" padding: 3px;" class="Rate">
                                    <h2 style="font-size: 12px;" class="text-right">Discount ({{vm.order.discountRate}}%)</h2>
                                </td>
                                <td style=" padding: 3px;" class="payment">
                                    <h2 style="font-size: 12px;" class="text-right">- {{vm.order.discount| number :0 }}</h2>
                                </td>
                            </tr>

                            <tr class="tabletitle" ng-show="vm.order.shipping_type==='delivery' && vm.order.shipping_charges > 0">

                                <td colspan="2" style=" padding: 3px;" class="Rate">
                                    <h2 style="font-size: 12px;" class="text-right">Delivery Charger</h2>
                                </td>
                                <td style=" padding: 3px;" class="payment">
                                    <h2 style="font-size: 12px;" class="text-right">+ {{vm.order.shipping_charges| number :0 }}</h2>
                                </td>
                            </tr>

                            <tr class="tabletitle">

                                <td colspan="2" style="
                         padding: 3px;" class="Rate">
                                    <h2 style="font-size: 12px;" class="text-right">Total</h2>
                                </td>
                                <td style="
                         padding: 3px;" class="payment">
                                    <h2 style="font-size: 12px;" class="text-right"> {{vm.order.amount | number :0}}</h2>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <p ng-hide="vm.order.additional_instruction===null">Note: {{vm.order.additional_instruction}}</p>
                                </td>

                            </tr>


                        </tfoot>
                    </table>
                    <div ng-show="vm.order.shipping_type==='delivery'" style="border-top: 1px solid; width: 100%; display: block; margin: 10px 0;"></div>

                    <table ng-show="vm.order.shipping_type==='delivery'">
                        <thead>
                            <h3 ng-show="vm.order.shipping_type==='delivery'" style="text-align: center;margin: 0;">Customer</h3>
                            <tr>
                                <td style=" padding: 3px; width:50%;">Name : {{ vm.order.first_name }} {{ vm.order.last_name }} </td>

                            </tr>
                            <!-- <tr>
                        <td style=" padding: 3px; width:50%;">email : </td>
                        <td class="text-right">{{vm.order.email}}</td>
                    </tr> -->
                            <tr>
                                <td style=" padding: 3px; width:50%;">Phone : {{vm.order.mobile_number}} </td>

                            </tr>
                            <tr>
                                <td>
                                    Address : {{vm.order.customer_address.title}} {{vm.order.customer_address.addressLine1}} {{vm.order.customer_address.addressLine2}} {{vm.order.customer_address.city}} {{vm.order.customer_address.postal_code}}
                                </td>
                            </tr>


                        </thead>
                    </table>


                    <!--End Table-->
                    <div ng-show="vm.bill_print.printer_footer" style="border-top: 1px dashed #aaaaaa; width: 100%; display: block; margin: 10px 0;"></div>
                    <div  ng-show="vm.bill_print.printer_footer" class="text-center" ng-bind-html="vm.bill_print.printer_footer"></div>
                    

                    <!-- <hr>

                    <p class="text-center">Scan QR code for download online ordering app and enjoy amazing discount vouchers </p>
                    <br>
                    <p class="text-center"><img class="qr " src="img/qr.png"></p> -->

                    <div style="border-top: 1px solid; width: 100%; display: block; margin: 20px 0;"></div>
                    <p class="text-center">Powered by www.maduber.com</p>
                    <p class="text-center">0300 5292 723</p>

                </div>
                <!--End InvoiceBot-->
            </div>
          </div>
            <div id="kot-bill-print-online-order" style="display: none;">
                    <div ng-show="vm.kot_print.printer_header" style="border-top: 1px dashed #aaaaaa; width: 100%; display: block; margin: 10px 0;"></div>
                    <div  ng-show="vm.kot_print.printer_header" class="text-center" ng-bind-html="vm.kot_print.printer_header"></div>
                    <div ng-show="vm.kot_print.printer_header" style="border-top: 1px dashed #aaaaaa; width: 100%; display: block; margin: 20px 0;"></div>
                <!--End Invoice Mid-->
                <h2 style="width:60%; margin: 0 70px ; ">Order# {{vm.order.order_id}}</h2>
                <span style="width:40%; float:left;">{{vm.order.created_at | moment: 'format': 'h:mm a'}}</span>
                <span style="width:60%; float:right;">Estimated time:{{vm.kot_time}} min</span>
                <div id="table">
                    <table>
                        <tr class="tabletitle" style="border-top: 1px solid #959595;border-bottom: 1px solid #959595; ">
                            <td style=" padding: 3px; width:80%;" class="text-left">
                                <h6>Item</h6>
                            </td>
                            <td style=" padding: 3px; width:20%;" class="Hours">
                                <h6 class="text-right"> Qty</h6>
                            </td>

                        </tr>

                        <tr class="service" ng-repeat="item in vm.order.items">
                            <td class="tableitem" style=" padding: 3px;">
                                <div class="" style="width: 100%; float:left;">
                                    <div class="text-left">
                                        <p style="margin:0;  font-size: 12px; float: left; width:100%;">{{item.menu_item_name}} ({{item.price_title}})</p>
                                    </div>
                                </div>
                                <div class="option-list" style="width: 100%; float:left;">
                                    <div ng-repeat="option in item.menu_options">
                                        <div class="">
                                            <strong style="font-size: 12px;"><p>{{option.option_name}}</p></strong>
                                        </div>
                                        <div ng-if="option.option_type=='checkbox'">
                                            <div class="row" ng-repeat="(key, value) in option.fulla" ng-if="value">
                                                <div class="" style=" float: left; width:100%;">
                                                    <p style="margin:0;  font-size: 12px;">
                                                        {{value.item_name }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="" ng-if="option.option_type=='radio'">
                                            <div class="">
                                                <p> {{option.selectedByName}}</p>
                                            </div>
                                            <div class=" text-right">
                                                <span class="option_item_price" ng-if="option.selectedItemPrice!=0">+{{option.selectedItemPrice}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td style=" vertical-align: top;  padding: 3px; margin-top: -20px;" class="tableitem text-right">{{item.quantity}}</td>

                        </tr>
                        <tr>
                            <td>
                                <p ng-hide="vm.order.additional_instruction===null || vm.order.additional_instruction===''">Note: {{ vm.order.additional_instruction}}</p>
                            </td>

                        </tr>

                    </table>

                    <!--End Table-->

                    <div ng-show="vm.kot_print.printer_header" style="border-top: 1px dashed #aaaaaa; width: 100%; display: block; margin: 30px 0;"></div>
                    <div  ng-show="vm.kot_print.printer_header" class="text-center" ng-bind-html="vm.kot_print.printer_header"></div>
                    <div ng-show="vm.kot_print.printer_header" style="border-top: 1px dashed #aaaaaa; width: 100%; display: block; margin: 30px 0;"></div>
                </div>
                <!--End InvoiceBot-->
            </div>
    </ion-content>
</ion-view>