<ion-view view-title="Orders" ng-controller="OrderCtrl" class="orders reservations">
    <ion-content overflow-scroll="false" has-header="true" has-bouncing="true">

        <!-- <img id="mySpinner" class="loadingimg" src="img/loading.gif" ng-show="loading" />

        <ul class="card" ng-repeat="order in orders">
            <li class="item">
                <strong>{{ order.order_id }} </strong> 
            </li>
        </ul> -->
        <ion-list id="my-orders-list" class="">
            <ion-item ng-repeat="order in orders" class="item {{OrderStatus(order.status) }}">
                <a href="#/app/view_order/{{order.order_id}}">
                    <span class="orderid"> ORDER ID# {{order.order_id}}</span>
                    <span class="date">
					    	<i class="icon ion-calendar"></i>
					        {{order.created_at | date:'dd/MM/yyyy HH:mm:ss Z'}}
					    </span>

                    <div class="clear"></div>
                    <div class="o-status-bar">
                        <span class="status">
						       Status: {{ OrderStatus(order.status) }} 
						    </span>

                        <span class="estimated_time">
						    	<i class="icon ion-cash"></i>
						        {{OrderPayment(order.is_payment_confirmed)}}
						    </span>
                    </div>
                    <i class="icon ion-ios-arrow-right"></i>
                </a>
            </ion-item>
        </ion-list>


    </ion-content>
</ion-view>