<ion-view view-title="Forgot Password" id="login-page" ng-controller="ForgotPassCtrl as forgot">
  <ion-content has-bouncing="false">
   <div id="logo"></div>
   <div class="msg-area">
      <div class="error-msg" ng-show="forgot.alert">
           <span class="msg-icon"> <i class="icon ion-alert-circled error"></i></span>
          {{forgot.msg}}
          <span class="remove" ng-click="forgot.hide_msg()">
             <i class="icon ion-android-close"></i>
           </span>
      </div> 
    </div>
    <div class="list">
    <form name="forgotForm" novalidate ng-submit="forgot.forgotPass()" >
     <label class="item item-input">
       <span class="email-icon">
          <i class="icon ion-email"></i>
       </span>
       <input type="email" 
           name="email" 
           class="input" 
           ng-model="forgot.forgot.email" 
           placeholder="Email"
           required
            />

        <i class="icon ion-alert-circled error"></i>
     </label>
    
      <div id="buttons">
        <button class="button login" ng-disabled="forgotForm.$invalid"> 
          <i class="icon ion-android-send"></i> Submit
        </button>
       <a class="button icon ion-log-in registration" ng-href="#/unauth/login"> Login</a>
      </div>
        
      </form>
   </div>
  </ion-content>
</ion-view>