<ion-view view-title="{{vm.venue_detail.name}} - User Profile" ng-controller="ProfileCtrl as vm">
    <ion-content>
        <div class="row text-center profile-header">
            <div class="col">

                <br>
                <h2>{{ vm.user1.name }}</h2>

            </div>
        </div>
        <div class="update_profile">
            <form name="profileUpdate" class="padding " ng-submit="vm.update(vm.user1)">
                <div class="list information">
                    <label class="item item-input">
    <input type="text" placeholder="First Name" ng-model="vm.user1.name"> 
  </label>

                    <label class="item item-input">
    <input type="text" placeholder="Email" ng-model="vm.user1.email">
  </label>

                    <label class="item item-input">
      <input type="text" placeholder="Password" ng-model="vm.user1.password">
    </label>

                    <br>
                    <div class="text-center">
                        <button class="button button-large "><i class="icon-left ion-edit"></i> Update
                  <ion-spinner ng-show="vm.spinner" icon="spiral" class="spinner-energized"></ion-spinner> 
              </button>
                    </div>

                </div>
            </form>
        </div>
    </ion-content>
</ion-view>