<ion-modal-view id="customer-modal" style="height: 380px;">
    <ion-header-bar>
        <h1 class="title "> Add Customer </h1>
        <button class="button  button-icon icon close-button" ng-click="vm.hideCustomerModal()"><i
      class="ion-close-circled"></i></button>
    </ion-header-bar>
    <ion-content scroll="true" class="padding" >
            <ion-list>
                <div class="addNewCustomer" >
                    <form>
                    <label class="item item-input item-stacked-label">
                         <input type="text" ng-model="vm.customer_first_name" placeholder="First Name">
                    </label>
                    <label class="item item-input item-stacked-label">
                         <input type="text" ng-model="vm.customer_last_name" placeholder="Last Name">
                    </label>
                    <label class="item item-input item-stacked-label">
                         <input type="email" ng-model="vm.customer_email" placeholder="Email">
                    </label>
                    <label class="item item-input item-stacked-label">
                         <input type="number" ng-model="vm.customer_mobile_number" placeholder="Mobile">
                    </label>
                    <label class="item item-input item-stacked-label">
                         <input type="password" ng-model="vm.customer_password" placeholder="Password">
                    </label>

            
                    </form>

                </div>

            </ion-list>
    </ion-content>
       <ion-footer-bar class="bar bar-footer">

            <button type="submit" ng-disabled="address_form.$invalid" ng-click="vm.addNewCustomer()" class="button button-light icon-right  ion-arrow-right-c ">
                Save Customer
            </button>
          </ion-footer-bar>
</ion-modal-view>