<ion-view view-title="{{vm.venue_detail.name}} - Customers" ng-controller="customersCtrl as vm" class="Customers orders reservations" ng-init="vm.tab = 1">

    <ion-content class="padding" overflow-scroll="true">

        <div class="row customerstyle">
            <div class="col col-33">
                <a class="button button-small button-block  button-balanced" ng-click="vm.addCustomer()"><i class="icon ion-person-add"></i> Add New Customer</a>
                <div class="list list-inset search-box">
                    <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search"
                           ng-model="vm.customer_name"
                           placeholder="Search"
                           ng-change="vm.showVal(vm.customer_name)">
                           <ion-spinner icon="bubbles" class="spinner-assertive" ng-show="vm.spinner"></ion-spinner>
                  </label>

                </div>
                <ion-scroll id="pos-customers" overflow-scroll="false" direction="y" scrollbar-x="true" has-bouncing="true">
                    <ul class="list">
                        <li class="card" ng-repeat="customer in vm.customers" ng-click="vm.showCustomerDetail(customer)" ng-class="{active: customer.customer_id == vm.customer1.customer_id}">
                            <a class="item item-avatar">
                                <img ng-hide="{{customer.image_name}}" src="img/profile.jpg">
                                <img ng-show="{{customer.image_name}}" src="{{customer.image_name}}.{{customer.image_ext}}">
                                <!--  <span ng-show="customer.new  == 0" class="badge badge-energized new-label">New</span> -->
                                <h3><strong>{{ customer.first_name }} {{ customer.last_name }}</strong></h3>
                                <p>{{ customer.mobile_number }}</p>
                                <i class="icon ion-ios-arrow-right"></i>
                                <span class="status delivered_status" ng-show="customer.status == 1">Active</span>
                                <span class="status reject_status" ng-show="customer.status == 0">Inactive</span>
                            </a>
                        </li>
                    </ul>
                    <ion-infinite-scroll ng-if="vm.noMoreItemsAvailable" on-infinite="vm.loadMore()" distance="5%"></ion-infinite-scroll>
                </ion-scroll>
            </div>

            <div class="col col-67">

                <div class="data-content " ng-show="vm.customers.length > 0">
                    <div id="tabs">
                        <button class="tab" ng-click="vm.tab = 1" ng-class="{
                                            active: vm.tab === 1
                                        }">Profile</button>
                        <button class="tab" ng-click="vm.tab = 2; vm.get_order();" ng-class="{
                                            active: vm.tab === 2
                                        }">Order History</button>
                        <button class="tab" ng-click="vm.tab = 3" ng-class="{
                                            active: vm.tab === 3
                                        }">Address</button>

                        <button class="tab" ng-click="vm.tab = 4" ng-class="{
                                            active: vm.tab === 4
                                        }">Booking</button>

                        <button class="tab" ng-click="vm.tab = 5" ng-class="{
                                            active: vm.tab === 5
                                        }">Vouchers</button>
                    </div>
                    <div class="tab_body">
                        <div class=" card text-center profile-tab" ng-show="vm.tab == 1">
                            <div class="text-left mybuttonwrapper">
                                <button id="select-new-customer" class="button" ng-click="vm.select_customer(vm.customer1)">
                      {{vm.selected_customer.customer_id === vm.customer1.customer_id?'Selected':'Select this customer'}}
                    </button>
                            </div>
                            <img ng-hide="{{vm.customer1.image_name}}" src="https://i0.wp.com/voice4thought.org/wp-content/uploads/2016/08/default1.jpg?fit=338%2C600">
                            <img ng-show="{{vm.customer1.image_name}}" src="{{vm.customer1.image_name}}.{{vm.customer1.image_ext}}">
                            <h2>{{ vm.customer1.first_name }} {{vm.customer1.last_name}}</h2>
                            <p>{{ vm.customer1.email }}</p>
                            <p>{{ vm.customer1.mobile_number }}</p>

                            <span class="badge badge-balanced" ng-show="vm.customer1.status == 1">Active</span>
                            <span class="badge badge-assertive" ng-show="vm.customer1.status == 0">Inactive</span>
                            <div class="customer-reports">
                                <div class="button-bar profile_report">
                                    <a class="button">Orders Count  <span class="badge badge-balanced">{{ vm.customer1.customer_orders_count }}</span></a>
                                    <a class="button">Voucher Count <span class="badge badge-balanced">{{ vm.customer1.count_customer_voucher }}</span></a>
                                </div>
                                <div class="button-bar profile_report">
                                    <a class="button">Used Voucher <span class="badge badge-balanced">{{ vm.customer1.count_customer_used_voucher }}</span></a>
                                    <a class="button">Unused Voucher <span class="badge badge-balanced">{{ vm.customer1.count_customer_unused_voucher }}</span></a>
                                </div>

                                <div class="button-bar profile_report">
                                    <a class="button">Sign up : <u>{{ vm.customer1.created_at | moment: 'format': 'MMM Do YYYY, h:mm'  }}</u></a>
                                    <a class="button">Last Update : <u>{{ vm.customer1.updated_at | moment: 'format': 'MMM Do YYYY, h:mm'  }}</u></a>
                                </div>
                                <form name="loginForm" novalidate ng-submit="vm.change_password(vm.customer1.customer_id)">
                                    <div class="list change-password">
                                        <div class="item item-input-inset">

                                            <label class="item-input-wrapper">
                              <input type="text" ng-model="vm.new_password" placeholder="Change Password" ng-minlength="5" required>
                            </label>
                                            <button class="button button-small button-assertive" ng-disabled="loginForm.$invalid"> Change Password <ion-spinner icon="bubbles" class="spinner-assertive" ng-show="vm.requestSent" ></ion-spinner></button>
                                        </div>

                                    </div>
                                </form>
                            </div>

                        </div>

                        <div ng-show="vm.tab === 2">
                            <div class="clear clearfix"></div>
                            <ion-scroll class="customer-orders-scroll">

                                <div class="item item-divider" ng-repeat="order in vm.customer_orders| orderBy :'-order_id'" ng-click="vm.viewOrder(order)">
                                    <h2>{{ vm.customer1.first_name }} {{vm.customer1.last_name}}</h2>
                                    <h4>Order # {{ order.order_id }}</h4>
                                    <p>{{ order.created_at | moment: 'format': 'MMM Do YYYY, h:mm:ss a'}}</p>

                                    <span class="status placed_status" ng-show="order.status == 0">Placed</span>
                                    <span class="status reject_status" ng-show="order.status == 1">Rejected</span>
                                    <span class="status accept_status" ng-show="order.status == 2">Accepted</span>
                                    <span class="status preparing_status" ng-show="order.status == 3">Preparing</span>
                                    <span class="status delivering_status" ng-show="order.status == 4">Delivering</span>
                                    <span class="status delivered_status" ng-show="order.status == 5">Delivered</span>
                                    <i class="icon ion-ios-arrow-right"></i>

                                </div>
                                <ion-infinite-scroll ng-if="vm.noMoreOrderAvailable" on-infinite="vm.loadMoreOrders()" distance="5%"></ion-infinite-scroll>
                            </ion-scroll>
                            <div ng-hide="vm.customer_orders.length">
                                <div class="empty_cart text-center" style="margin: 130px 0;">
                                    <img src="img/app/empty_order.png">
                                    <h2> No order place Yet!</h2>

                                </div>
                            </div>
                            <div class="clear clearfix"></div>
                        </div>

                        <div class="" ng-show="vm.tab === 3">

                            <div class="col-100 card padding" ng-repeat="address in vm.customer1.customer_address">
                                <h3>{{ address.title }}</h3>
                                <span>{{ address.addressLine1 }} {{ address.addressLine2 }} {{ address.addressLine3 }} {{ address.city }} {{ address.county }}</span>

                                <ng-map zoom="13" disable-default-u-i="true" id="my-map" center="[{{address.latitude}}, {{address.longitude}}]" style="width: 50%; height: 150px; float:right;" zoom-control="false" map-type-control="false" overview-map-control="false" pan-control="false"
                                    rotate-control="false" scale-control="false" street-view-control="false">
                                    <marker position="[{{address.latitude}}, {{address.longitude}}]" title="{{address.title}}" animation="Animation.DROP" visible="true">
                                    </marker>
                                </ng-map>

                            </div>





                            <div ng-hide="vm.customer1.customer_address.length">
                                <div class="empty_cart text-center" style="margin: 130px 0;">
                                    <img src="img/app/empty_order.png">
                                    <h2> No Address Listed Yet!</h2>

                                </div>
                            </div>
                        </div>

                        <div class="" ng-show="vm.tab === 4">
                            <div class="item item-divider" ng-repeat="booking in vm.customer1.customer_booked_tables">
                                <h3><strong>{{ booking.name }}</strong></h3>
                                <p>Booking Persons <strong>( {{ booking.covers}} )</strong></p>
                                <p>Booking Persons <strong>{{ booking.booking_type }}</strong></p>
                                <p>Booking Date <strong>{{ booking.booking_date | date : format : timezone }}</strong></p>
                            </div>

                            <div ng-hide="vm.customer1.customer_booked_tables.length">
                                <div class="empty_cart text-center" style="margin: 130px 0;">
                                    <img src="img/app/empty_order.png">
                                    <h2> No Reservation Listed Yet!</h2>

                                </div>
                            </div>
                        </div>
                        <div class="" ng-show="vm.tab == 5">
                            <div class="item item-divider" ng-repeat="vouchers in vm.customer1.customer_vouchers">
                                <h3>Voucher Code: <strong>{{ vouchers.voucher_code }}</strong></h3>
                                <p>Expiry Date: <strong> {{ vouchers.expiry_date | date : format : timezone }} </strong></p>
                                <p>Discount: <strong>{{ vouchers.discount }}</strong></p>
                                <p>Minimum Order: <strong>{{ vouchers.minimum_order }}</strong></p>
                            </div>

                            <div ng-hide="vm.customer1.customer_vouchers.length">
                                <div class="empty_cart text-center" style="margin: 130px 0;">
                                    <img src="img/app/empty_order.png">
                                    <h2> No Vocher Listed Yet!</h2>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="text-center empty_cart empty" ng-show="vm.customerss.length<0">
                <img style="border-radius: 50%; width: 20%;" src="img/profile.jpg">
                <h2> No Customer Found </h2>
                <p> Customer will be received through Website, Mobile App or POS.</p>

            </div>

        </div>
        </div>



    </ion-content>
</ion-view>