<ion-modal-view id="customer-order-modal" class="ion-nifty-modal">
    <ion-header-bar class="bar bar-header" style="background-color: #cf0a2c ;">

        <div class="buttons">
            <button class="button close" style="background-color: #cf0a2c ;color: #fff;" ng-click="closeModal()"><i class="icon ion-close"></i></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div id="tabs">
            <button class="tab" ng-click="tab = 1" ng-class="{
                        active: tab === 1
                    }">Order # {{order.order_id}}</button>
            <button class="tab" ng-click="tab = 2" ng-class="{
                        active: tab === 2
                    }">Status
            <span class="status_bar placed_status" ng-show="order.status == 0">{{OrderStatus(order.status)}}</span>
            <span class="status_bar reject_status" ng-show="order.status == 1">{{OrderStatus(order.status)}}</span>
            <span class="status_bar accept_status" ng-show="order.status == 2">{{OrderStatus(order.status)}}</span>
            <span class="status_bar preparing_status" ng-show="order.status == 3">{{OrderStatus(order.status)}}</span>
            <span class="status_bar delivering_status" ng-show="order.status == 4">{{OrderStatus(order.status)}}</span>
            <span class="status_bar delivered_status" ng-show="order.status == 5">{{OrderStatus(order.status)}}</span>

                </button>
            <button class="tab" ng-click="tab = 3" ng-class="{
                        active: tab === 3
                    }">Feedback</button>
            <button class="tab" ng-click="tab = 4; vm.initMap();" ng-class="{
                        active: tab === 4
                    }">Map</button>
            <button class="tab" ng-click="tab = 5;clearMsgcount()" ng-class="{
                        active: tab === 5
                    }">Chat </button>

            <div class="clearfix"></div>
        </div>
        <div class="clearfix clear"></div>
        <div class="tab_body">
            <div ng-show="tab === 1">
                <div class="order-container">
                    <div id="view-order">
                        <div class="row">
                            <div ng-show="order.shipping_type==='delivery'" class="col col-50 customer-detail">
                                <h2>{{ vm.customer1.first_name }} {{vm.customer1.last_name}}</h2>
                                <p><span> {{order.customer_address.title}}</span> : {{order.customer_address.addressLine1}} {{order.customer_address.addressLine2}} {{order.customer_address.city}} {{order.customer_address.postal_code}}</p>
                                <p><span>Phone No</span> : {{vm.customer1.mobile_number}} </p>
                                <p><span>Email</span> : {{vm.customer1.email}} </p>

                            </div>

                            <div ng-show="order.shipping_type==='pickup'" class="col col-50 ">
                                <h2>Pickup</h2>

                            </div>
                            <div class="col col-50">
                                <li class="item method">
                                    <label class="item-input">
                          <div class="input-label">Payment By:</div>
                            {{order.payment_method}}
                        </label>
                                </li>

                                <li class="item slect-rider">
                                    <label class="item-input ">
                          <div class="input-label">Rider </div>
                          {{order.server.name}}
                        </label>
                                </li>
                                <!-- <li ng-show="order.server_id!==null" class="item slect-rider">
                            <label class="item-input item-select">
                          <div class="input-label">Select Rider </div>
                          <ion-select  ng-change="updaterider(rider_id)" disabled="order.status === 5" ng-model="rider_id" >
                            <option value="0" selected>Select Rider</option>
                            <option ng-repeat="rider in riders" ng-show="rider.id === order.server_id"  value="{{rider.id}}" >{{ rider.name }}</option>
                          </ion-select>
                        </label>
                        </li> -->
                                <li class="item slect-rider">
                                    <label class="item-input">
                          <div class="input-label"> Estimated time </div>
                         <span ng-hide="order.estimated_time===null || order.estimated_time===''"> {{order.estimated_time}} min</span>
                        </label>
                                </li>

                                <!-- <li class="item method" ng-show="order.status == 2 || order.status == 3 || order.status == 4" style="position:relative;">

                                    <label class="item item-input">
                                    <input class="online-order-discount" type="number" ng-model="discountRate" placeholder="Add Discount %">
                            </label>
                                    <button style="position:absolute; top:5px;z-index:999;right:20px;" class="button button-small button-balanced" ng-click="applyDiscount()">Save</button>

                                </li> -->

                            </div>


                        </div>
                    </div>
                    <div id="cart">
                        <div id="head_title" class="row">
                            <div class="col col-50">
                                {{order.created_at | moment: 'format': 'MMM Do YYYY, h:mm:ss a'}}
                            </div>
                            <div class="col col-50 text-right">
                                <button ng-hide="order.status === '1' || order.status === '5'" class="button button-small button-assertive" ng-click="printbill()"><i class="icon ion-printer"> </i> Print Bill</button>
                                <button ng-hide="order.status === '1' || order.status === '5'" class="button button-small button-balanced" ng-click="printkot()"><i class="icon ion-android-print"> </i>  Print Kot</button>

                            </div>
                        </div>
                        <div class="clear"></div>
                        <table>
                            <thead>
                                <tr>
                                    <th width="60%" class="text-left">Item</th>
                                    <th width="20%" class="text-right">Qty</th>
                                    <th width="20%" class="text-right">Price</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in order.order_detail">
                                    <td class="align-left">

                                        {{ item.menu_item_name}} ({{item.price_title}})
                                        <div class="clear"></div>
                                        <div class="feature">
                                            <!-- <span class="serving">Serving: x {{ item.serving}}</span>
                                <span class="deal">Deal: {{ item.deal}}</span> -->
                                        </div>
                                        <div class="clearfix"></div>
                                        <ul class="item_options">
                                            <li ng-repeat="option in item.menu_options">
                                                <strong>{{option.option_name}}</strong>
                                                <div ng-if="option.option_type=='checkbox'">
                                                    <div ng-repeat="(key1, value) in option.selectedByName" ng-if="value">
                                                        {{key1 }}
                                                        <!--<span ng-repeat="(key, value) in option.selectedItemPrice">-->
                                                        <!--{{key}}-->
                                                        <!--</span>-->

                                                    </div>
                                                    <span ng-repeat="(key, value) in option.selectedItemPrice" ng-if="value">

                                        </span>

                                                </div>

                                                <div class="" ng-if="option.option_type=='radio'">

                                                    {{option.selectedByName}}
                                                    <!--<span class="option_item_price" ng-if="option.selectedItemPrice!=0">+{{option.selectedItemPrice}}</span>-->
                                                </div>
                                            </li>
                                        </ul>
                                    </td>
                                    <td class="qty text-right">
                                        {{item.quantity}}
                                    </td>
                                    <td class="text-right">
                                        {{ item.orignal_price * item.quantity | number : 2}}
                                    </td>

                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>

                                    </td>
                                    <td class="align-right bg-1">Sub Total</td>
                                    <td class="no-right-border2">{{order.subtotal }}</td>

                                </tr>
                                <tr ng-show="order.tax!==0">
                                    <td>

                                    </td>
                                    <td class="align-right bg-1">TAX ( {{order.tax_rate}} %)</td>
                                    <td class="no-right-border2">+{{order.tax }}</td>

                                </tr>
                                <tr ng-show="order.shipping_type==='delivery' && order.shipping_charges !=0">
                                    <td class="align-right bg-1" colspan="2">Delivery Charges</td>
                                    <td class="no-right-border2">+{{order.shipping_charges}}</td>
                                </tr>
                                <tr ng-show="order.discount!==0">
                                    <td class="align-right bg-1" colspan="2">Discount ({{order.discountRate}}%)</td>
                                    <td class="no-right-border2">-{{order.discount }}</td>
                                </tr>
                                <tr>
                                    <td class="align-right bg-1" colspan="2" style="font-weight:bold;">Total</td>
                                    <td class="no-right-border2" style="font-weight:bold;">
                                        {{order.amount }}
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

            <div id="order_status" ng-show="tab === 2">
                <ul class="list" ng-show="order.status != 5">
                    <li class="item item-icon-right">Order placed at
                        <span class="placed-at"> {{order.created_at | moment: 'format': 'MMM Do YYYY, h:mm:ss a'}}</span>
                        <i ng-if="OrderStatus(order.status) && orderStatusData.order_placed" class="icon ion-checkmark-round order_status_checked"></i>
                    </li>
                    <li ng-show="order.status <= 1" class="item item-icon-right">
                        <i class="order-status-icon icon ion-close-circled "></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reject
                        <i ng-show="order.status === 1" class="icon ion-checkmark-round order_status_checked"></i>
                    </li>
                    <!-- <ion-radio ng-show="order.order_status <= 1" class="item item-icon-right" name="status" value="1" ng-model="checked" ng-click="onclickstatus(order.order_id, 1)">
                        <i class="order-status-icon icon ion-close-circled "></i> Reject
                         <i ng-show="order.order_status <= 1" class="icon ion-checkmark-round"></i> -->
                    <!-- </ion-radio> -->
                    <li ng-show="order.status != 1" class="item item-icon-right">
                        <i class="order-status-icon icon ion-checkmark-circled"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Accept <i ng-if="OrderStatus(order.status) && orderStatusData.accept" class="icon order_status_checked  ion-checkmark-round"></i>
                    </li>
                    <!-- <ion-radio  class="item item-icon-right" name="status" value="2" ng-model="checked" ng-click="onclickstatus(order.order_id, 2)">

                    </ion-radio> -->
                    <li ng-show="order.status != 1" class="item item-icon-right">
                        <i class="order-status-icon icon ion-android-restaurant"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Preparing
                        <i ng-if="orderStatusData.preparing" class="icon ion-checkmark-round order_status_checked"></i>
                    </li>

                    <li ng-show="order.status != 1" class="item item-icon-right">
                        <i class="order-status-icon icon ion-android-bicycle"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Delivery
                        <i ng-if="orderStatusData.delivery" class="icon ion-checkmark-round order_status_checked"></i>
                    </li>

                    <li ng-show="order.status != 1" class="item item-icon-right">
                        <i class="order-status-icon icon ion-thumbsup"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Delivered
                        <i ng-if="order.status >=5" class="icon ion-checkmark-round order_status_checked"></i>
                    </li>

                    <!-- <ion-radio ng-show="order.order_status != 1 && order.is_payment_confirmed === 1" ng-model="order.order_status" class="item item-icon-right" name="status" value="5" ng-click="onclickstatus(order.order_id, 5)">
                         
                    </ion-radio> -->

                    <li class="item" ng-show="order.status != 1">
                        <i class="order-status-icon icon ion-cash"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Select payment status ({{OrderPayment(order.is_payment_confirmed)}})

                        <i ng-if="order.is_payment_confirmed ===1" class="icon ion-checkmark-round order_status_checked"></i>
                    </li>
                </ul>

                <!-- </div>  -->


                <div class="order_complete text-center" ng-show="order.status === 5">
                    <div class="empty_cart text-center" style="margin: 130px 0;">
                        <i class="icon ion-checkmark"></i>
                        <h2>Order Delivered</h2>
                    </div>
                </div>

            </div>

            <div id="feedback" ng-show="tab === 3">

                <div ng-show="!feedbackdata.isFeedback">
                    <div class="empty_cart text-center" style="margin: 130px 0;">
                        <img src="img/app/empty_order.png">
                        <h2> No Feedback place Yet!</h2>

                    </div>
                </div>
                <ul ng-show="feedbackdata.isFeedback" class="list">
                    <li class="item">
                        <div class="rating_title">Quality of Food? </div>
                        <rating class="rating_stars" ng-model="feedbackdata.quality" max="5"></rating>
                        <div class="clear"></div>
                    </li>
                    <li ng-show="feedbackdata.service" class="item">
                        <div class="rating_title">Service efficiency? </div>
                        <rating class="rating_stars" ng-model="feedbackdata.service" max="5"></rating>
                        <div class="clear"></div>
                    </li>
                    <li ng-show="feedbackdata.value" class="item">
                        <div class="rating_title">Value of Money? </div>
                        <rating class="rating_stars" ng-model="feedbackdata.value" max="5"></rating>
                        <div class="clear"></div>
                    </li>

                </ul>
                <h2 ng-show="feedbackdata.feedback">Other Comments/Suggestions </h2>
                <textarea ng-show="feedbackdata.feedback" class="input" ng-model="feedbackdata.feedback" ng-disabled="NotallowFeedback"></textarea>
            </div>

            <div id="map" ng-show="tab === 4">
                <div id="map" data-tap-disabled="true"></div>
            </div>


            <div ng-show="tab === 5">

                <div class="chat_window">
                    <ion-scroll delegate-handle="chatScroll" id="order-chat" overflow-scroll="false" direction="y" scrollbar-x="true" has-bouncing="true">
                        <ul class="messages">
                            <li ng-repeat="msg in chatMsgs" class="message appeared" ng-class="msg.type==2 ? 'right' : 'left'">

                                <div class="text_wrapper">
                                    <h3 class="chatname">{{msg.name}}</h3>
                                    <p>{{msg.msg}}</p>
                                    <h6>{{ msg.timestamp | moment: 'format': 'MMM Do YYYY, h:mm:ss a'}}
                                        <h6>
                            </li>
                        </ul>
                    </ion-scroll>
                    <!-- <div class="bottom_wrapper clearfix">
                        <div class="message_input_wrapper">
                            <input class="message_input" ng-model="chatmsg.msg" placeholder="Type your message here..." />
                        </div>
                        <div class="send_message">
                            <div class="icon"></div>
                            <div type="button" class="text" ng-click="chatMsgSend()">Send</div>
                        </div>
                    </div> -->
                    </div>


                </div>
            </div>

    </ion-content>
    <!-- <ion-footer-bar ng-show="tab == 5" keyboard-attach class="bar-stable item-input-inset">
        <label class="item-input-wrapper">
      <input type="text" placeholder="Type your message"  ng-model="chatmsg.msg" />
    </label>
        <button class="button button-clear" ng-click="chatMsgSend()">
      Send
    </button>
    </ion-footer-bar>> -->

</ion-modal-view>