<ion-side-menus ng-controller="MenuLayoutCtrl as vm">
    <ion-pane>
        <!-- Header Navigation Bar -->
        <ion-nav-bar class="header-style" align-title="center">
            <ion-nav-buttons>
                <div id="top-menu" class="row">
                    <div class="col col-10 pos-logo">
                        <img ng-src="img/app/pos_logo.png">
                        <!-- <h3>{{vm.current_venue.name}}</h3> -->
                    </div>
                    <div class="col col-80 pos-menu-style">
                        <button ng-if="vm.dashbord_permision()" nav-transition="none" ui-sref="app.pos" ui-sref-active="active" class="button-nav "><i class="icon-left ion-compose"></i> Point of sale</button>
                        <button ng-if="vm.dashbord_permision()" nav-transition="none" ui-sref="app.kot-list" ui-sref-active="active" class="button-nav kot-button"> <i class="icon-left ion-grid"> </i>KOT List <span ng-if="vm.kot_counter()" class="badge badge-energized kot-badge">{{vm.kot_counter()}}</span></button>
                        <!--<button nav-transition="none" ui-sref="app.table" ui-sref-active="active" class="button-nav "> <i class="icon-left ion-grid"> </i>Tables</button>-->
                        <button ng-if="vm.dashbord_permision()" nav-transition="none" ui-sref="app.posorders" ui-sref-active="active" class="button-nav "><i class="icon-left ion-ios-cart-outline"></i> Pos History</button>
                        <button ng-if="vm.order_permision()" nav-transition="none" ui-sref="app.orders" ui-sref-active="active" class="button-nav "><i class="icon-left ion-bag"></i> Online Orders <span class="badge badge-energized order-badge">{{vm.order_counter()}}</span></button>
                        <button ng-if="vm.customer_permision()" nav-transition="none" ui-sref="app.customers" ui-sref-active="active" class="button-nav "><i class="icon-left ion-ios-people"></i> Customers</button>
                        <button ng-if="vm.report_permision()" nav-transition="none" class="button-nav" ui-sref="app.reports" ui-sref-active="active"><i class=" icon-left ion-bag"></i> Reports</button>
                        <button ng-if="vm.reservation_permision()" nav-transition="none" ui-sref="app.reservations" ui-sref-active="active" class="button-nav "><i class=" icon-left ion-clock"></i> Reservation</button>
                        <!-- <button nav-transition="none" ui-sref="app.reports" ui-sref-active="active" class="button-nav "><i class=" icon-left ion-bag"></i> Reports</button> -->
                        <!-- <button nav-transition="none" ui-sref="app.settings" ui-sref-active="active" class="button-nav "><i class=" icon-left ion-settings"></i> Settings</button> -->
                    </div>
                   
                    <div class="col col-10 ">
                        <button nav-transition="none" id="profile-button" class="button-nav " ng-click="popover.show($event)">More <i class="icon-right ion-android-arrow-dropdown-circle"></i> </button>
                    </div>
                </div>
            </ion-nav-buttons>
        </ion-nav-bar>
        <!-- End Header Navigation Bar -->
        <!-- Navigation view -->
        <ion-nav-view name="mainContent" animation="no-animation"></ion-nav-view>
    </ion-pane>

    <script id="templates/popover.html" type="text/ng-template">
        <ion-popover-view class="logout-popover">
            <ion-content>
                <div class="list">
                    <a class="item" ui-sref="app.profile" ng-click="popover.hide($event)"><i class="icon-left ion-person"></i> {{vm.user.name}}</a>
                    <a class="item" ui-sref="app.checkincheckout" ng-click="popover.hide($event)"><i class="icon-left ion-ios-time-outline"></i> Check in / out</a>
                    <a class="item" ui-sref="app.cashincashout" ng-click="popover.hide($event)"><i class="icon-left ion-cash"></i> Cash in / out</a>
                    <a class="item" ui-sref="app.bussinessday" ng-click="popover.hide($event)"><i class="icon-left ion-cash"></i> Bussiness Day</a>
                    <!-- <a  class="item"popover.hide($event)"><i class="icon-left ion-clock"></i> Close  day  </a>
                    <a  class="item" ;popover.hide($event)"><i class="icon-left ion-clock"></i> Start  day</a> -->

                    <!-- <a ng-show="vm.isDayStarted" class="item" ng-click="vm.reports_business_day();popover.hide($event)"><i class="icon-left ion-bag"></i> Business Day Reports </a> -->
                    <a class="item" ui-sref="app.settings" ng-click="popover.hide($event)"><i class="icon-left ion-settings"></i> Settings</a>
                    <a class="item" ng-click="vm.logout(); popover.hide($event)"><i class="icon-left ion-log-out"></i> Logout</a>

                </div>
            </ion-content>
        </ion-popover-view>
    </script>
</ion-side-menus>