<ion-modal-view id="order-hold-list">
        <ion-header-bar>
            <h1 class="title"> Orders on Hold</h1>
            <button class="button  button-icon icon close-button" ng-click="vm.modal.hide()"><i
                class="ion-close-circled"></i></button>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item>
                    <div class="row">
                        <div class="col col-50 text-left"><strong>Datetime</strong> </div>
                        <div class="col col-50 text-right"><strong>Total</strong></div>
                    </div>
                </ion-item>
                <ion-item ng-repeat=" (key, order)  in hold_order_list">
                    <div class="row" ng-click="hold_order_back(key)">
                        <div class="col col-50 text-left">{{order.holding_date}}</div>
                        <div class="col col-50 text-right"> {{order.total}}</div>
                    </div>
                </ion-item>
            </ion-list>

        </ion-content>
</ion-modal-view>
