<ion-view view-title="{{vm.venue_detail.name}} - KOT List" ng-controller="KotListCtrl as vm">
    <ion-content class="has-header" has-bouncing="true">
        <div ng-show="vm.kot_list.length>0" class="notShowinprinter">
            <div ng-repeat="kot in vm.kot_list" class="pos-table">
                <div class="card" ng-class="vm.kot_status(kot.kot_time) ? 'status_1' : 'status_2 vibrate'">
                    <div class="ribbon" ng-show="kot.is_payment_confirmed === 1"><span>Paid</span></div>
                    <h2 class="text-center">{{kot.kot_unique_id}} ( {{kot.order_type}} ) </h2>
                    <div class="row">
                        <div class="col-50 text-left">
                            <time class="time"> {{vm.momentFromNow(kot.kot_datetime)}}  ({{vm.kot_time_left(kot.kot_time)}})</time>
                            <div class="text-left time" ng-show="kot.table_id !==0 && kot.order_type==='dine-in'"><i class=" icon ion-android-restaurant"></i>Table # {{kot.table_id}} </div>
                        </div>
                        <div class="col-50 text-right">
                            <div class=" kot-actions">
                                <button class="button button-icon icon ion-printer" ng-click="vm.printBill(kot)"></button>
                                <button class="button button-icon icon ion-ios-redo" ng-hide="kot.is_payment_confirmed === 1 || kot.type===0" ng-click="vm.backToCart(kot.kot_unique_id)"></button>
                                <button class="button button-icon icon ion-android-done-all" ng-show="kot.is_payment_confirmed === 1 || kot.type===0" ng-click="vm.clear(kot.kot_unique_id)"></button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col">
                            <div class="additional_instruction" ng-show="kot.additional_instruction !=='' "> <strong>Note:</strong> {{kot.additional_instruction}}</div>
                           
                            <table class="kot-item-list">
                                <thead>
                                    <tr>
                                        <th class="text-left"><strong> Item(s) </strong></th>
                                        <th class="text-right"><strong>Quantity</strong></th>
                                    </tr>
                                </thead>
                                <tbody >
                                    <tr ng-repeat="item in kot.items" ng-class-odd="'odd'" ng-class-even="'even'">
                                        <td ng-show="$index <=5">
                                            {{item.menu_item_name}} ({{item.prices[0].title}})
                                            <ul ng-repeat="option in item.menu_options">
                                                <li><strong>{{option.option_name}}</strong></li>
                                                <div ng-if="option.option_type=='checkbox'">
                                                    <div class="option-child" ng-repeat="(key, value) in option.fulla" ng-if="value">
                                                        <i class="icon ion-android-checkbox"></i> {{value.item_name }}
                                                    </div>
                                                </div>
                                                <div class="option-child" ng-if="option.option_type=='radio'">
                                                    <i class="icon ion-android-radio-button-on"></i> {{option.selectedByName}}
                                                </div>
                                            </ul>
                                        </td>
                                        <td ng-show="$index <=5" class="text-right"> {{item.quantity}}</td>
                                    </tr>
                                </tbody>
                                <tfoot></tfoot>
                            </table>
                            
                            <button   class="button view-all-item " ng-click="vm.view_kot(kot)"> <i class="icon ion-eye"></i> view all items </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="notShowinprinter">
            <div class="text-center empty_cart empty" ng-show="vm.kot_list.length===0">
                <img src="img/empty_cart.png">
                <h2> No KOT list Found </h2>
                <p> No KOT found please add KOT from pos section to list here . </p>
                <a ui-sref="app.pos" class="button  button-balanced icon-right ion-arrow-right-c"> Add Now </a>
            </div>
        </div>


        <div id="kot-print" style="display: none;">
            <h2 style="font-size: 14px; margin: 0; text-align: center;"><strong>{{vm.printkot.kot_unique_id}} ( {{vm.printkot.order_type}} )</strong></h2>
            <p style="text-align: center;">
                <span style="width:30%; float:left;"> {{ vm.time(vm.printkot.kot_datetime) }}</span>
                <span style="width:60%; float:right;">Estimated time:{{vm.kot_time_left(vm.printkot.kot_time)}} min</span>
            </p>
            <!--End Invoice Mid-->
            <div id="table">
                <table>
                    <tr class="tabletitle">
                        <td style="border: 1px solid #959595; padding: 3px; width:80%;" class="text-left">
                            <h6>Item</h6>
                        </td>
                        <td style="border: 1px solid #959595; padding: 3px; width:20%;" class="Hours">
                            <h6 class="text-right"> Qty</h6>
                        </td>

                    </tr>

                    <tr class="service" ng-repeat="item in vm.printkot.items">
                        <td class="tableitem" style="border: 1px solid #959595; padding: 3px;">
                            <div class="" style="width: 100%; float:left;">
                                <div class="text-left">
                                    <p style="margin:0;  font-size: 12px; float: left; width:100%;">{{item.menu_item_name}} ({{item.prices[0].title}})</p>
                                </div>
                            </div>
                            <div class="option-list" style="width: 100%; float:left;">
                                <div ng-repeat="option in item.menu_options">
                                    <div class="">
                                        <strong style="font-size: 12px; color: black;">{{option.option_name}}</strong>
                                    </div>
                                    <div ng-if="option.option_type=='checkbox'">
                                        <div class="row" ng-repeat="(key, value) in option.fulla" ng-if="value">
                                            <div class="" style=" float: left; width:100%;">
                                                <p style="margin:0;  font-size: 12px;">
                                                    <i class="icon ion-android-checkbox"></i> {{value.item_name }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="" ng-if="option.option_type=='radio'">
                                        <div class="">
                                            <p> <i class="icon ion-android-radio-button-on"></i> {{option.selectedByName}}</p>
                                        </div>
                                        <div class=" text-right">
                                            <span class="option_item_price" ng-if="option.selectedItemPrice!=0"><p>+{{option.selectedItemPrice}}</p></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td style="border: 1px solid #959595; vertical-align: top;  padding: 3px; margin-top: -20px;" class="tableitem text-right">{{item.quantity}}</td>

                    </tr>

                </table>

                <!--End Table-->

                <div id="legalcopy">
                    <p class="legal">
                        {{vm.kot_print_footer}}
                    </p>
                </div>
            </div>
            <!--End InvoiceBot-->
        </div>

    </ion-content>
</ion-view>