<ion-view ng-controller="PaymentCtrl">
    <ion-content class="has-header " has-bouncing="false">

     <div class="pos-header">
         <div class="item item-text-wrap">
         <div class="row">
         <div class="col col-33"><h2>Table # 9</h2></div>
         <div class="col col-33 second-col">
         <button class="button icon-left ion-ios-rose-outline">Complementary</button>
         <button class="button icon-left ion-android-bicycle">Delivery</button>
         </div>
         <div class="col col-33">
          <button class="button icon-left ion-printer">Print Order</button>
         <button class="button icon-left ion-arrow-swap">Switch Active Table</button>

         </div>
         </div>
        </div>
        </div>


   <div class="row">
      <div class="col col-33">
         <div class="card">
                        <div class="item item-text-wrap">


                            <div class="first-tab">
                                <div class="list list-inset">
                                    <label class="item item-input">
                                        <i class="icon ion-search placeholder-icon"></i>
                                        <input type="text" placeholder="Search">
                                    </label>
                                </div>
                                <div class="cart-bar">
                                    <div class="item item-divider">
                                        <div class="row">
                                            <div class="col col-10">x</div>
                                            <div class="col text-center">Product</div>
                                            <div class="col col-20 text-center">Qty</div>
                                            <div class="col col-20 text-right">Price</div>
                                        </div>
                                    </div>

                                   
                                        <div class="item item-text-wrap" >
                                            <div class="row">
                                                <div class="col text-center col-10">x</div>
                                                <div class="col ">Rogni Naan(Regular)</div>
                                                <div class="col col-20 text-center">1</div>
                                                <div class="col col-20 text-right">Rs.35</div>
                                            </div>
                                            <div class="row">
                                                <div class="col text-center col-10">x</div>
                                                <div class="col ">Rogni Naan(Regular)</div>
                                                <div class="col col-20 text-center">1</div>
                                                <div class="col col-20 text-right">Rs.35</div>
                                            </div>
                                            <div class="row">
                                                <div class="col text-center col-10">x</div>
                                                <div class="col ">Rogni Naan(Regular)</div>
                                                <div class="col col-20 text-center">1</div>
                                                <div class="col col-20 text-right">Rs.35</div>
                                            </div>
                                             <div class="row">
                                                <div class="col text-center col-10">x</div>
                                                <div class="col ">Rogni Naan(Regular)</div>
                                                <div class="col col-20 text-center">1</div>
                                                <div class="col col-20 text-right">Rs.35</div>
                                            </div>
                                             <div class="row">
                                                <div class="col text-center col-10">x</div>
                                                <div class="col ">Rogni Naan(Regular)</div>
                                                <div class="col col-20 text-center">1</div>
                                                <div class="col col-20 text-right">Rs.35</div>
                                            </div>
                                        </div>
                                </div>

                            </div>
                        </div>
                    </div>
      </div>
      <div class="col col-67">
         <div class="card">

            <div class="row">
             <div class="col col-67">
               <div class="calculator-cover">
                <div id="main-body"><!-- Main background -->
             
        <div id="result">{{display}}</div>
             
         <div id="main">
             <div id="first-rows">
              <button class="del-bg" id="delete" ng-click="backspace();">Del</button>
                 <button value="%" class="btn-style operator opera-bg fall-back" ng-click="operators('%')">%</button>
                 <button value="+" class="btn-style opera-bg value align operator" ng-click="operators('+')">+</button>
                 <button value="+" class="btn-style opera-bg value align" ng-click="clearAll();">C</button>
                 </div>
                 
               <div class="rows">
             <button value="7" class="btn-style num-bg num first-child" ng-click="numbers(7);">7</button>
                 <button value="8" class="btn-style num-bg num" ng-click="numbers(8);">8</button>
                 <button value="9" class="btn-style num-bg num" ng-click="numbers(9);">9</button>
                 <button value="-" class="btn-style opera-bg operator" ng-click="operators('-')">-</button>
                 </div>
                 
                 <div class="rows">
                 <button value="4" class="btn-style num-bg num first-child" ng-click="numbers(4);">4</button>
                 <button value="5" class="btn-style num-bg num" ng-click="numbers(5);">5</button>
                 <button value="6" class="btn-style num-bg num" ng-click="numbers(6);">6</button>
                 <button value="*" class="btn-style opera-bg operator" ng-click="operators('*')">x</button>
                 </div>
                 
                 <div class="rows">
                 <button value="1" class="btn-style num-bg num first-child" ng-click="numbers(1);">1</button>
                 <button value="2" class="btn-style num-bg num" ng-click="numbers(2);">2</button>
                 <button value="3" class="btn-style num-bg num" ng-click="numbers(3);">3</button>
                 <button value="/" class="btn-style opera-bg operator">/</button>
                 </div>
                 
                 <div class="rows">
                 <button value="0" class="num-bg zero" id="delete">0</button>
                 <button value="." class="btn-style num-bg period fall-back" ng-click="dot();">.</button>
                 <button value="=" id="eqn-bg" class="eqn align" ng-click="equals();">=</button>
                 </div>
                
             </div>
         
         </div>

             </div>
           
            </div>

            <div class="col col-33">
             <div class="list">

				<ul class="list">
				    <li class="item">Sub:</li>
				    <li class="item">Service:</li>
				    <li class="item">Comp:</li>
				    <li class="item">Discount:</li>
				    <li class="item">Tax:</li>
				    <li class="item">Total:</li>
				</ul>
 
            </div>

            </div>

         </div>
      </div>

     </div>
    

</ion-view>
    </ion-content>



