<ion-view>
  <ion-content class="has-header " has-bouncing="false" ng-controller="TableCtrl as vm">
    <div  ng-repeat="table in vm.tables" class="pos-table" ng-class="vm.table_order(table.id).total>0 ? 'pos-table-kot':''">
      <div  class="card" ng-click="vm.select_table(table.id)">
        <h2 class="text-center">{{table.name}} <span class="table-id">( ID#{{ table.id }} )</span></h2>
        <h4 class="table-total">{{vm.table_order(table.id).total}}</h4>
        <time class="time">{{ vm.table_order(table.id).holding_table_date}}</time>
      </div>
    </div>
  </ion-content>
</ion-view>
