<ion-view view-title="{{vm.venue_detail.name}} - Check in / out" ng-controller="checkin_checkoutCtrl as vm">

    <ion-content>
        <div class="notShowinprinter">

            <div class="row">
                <div class="col col-33">
                    <br /> <br />
                    <div class="list list-inset">
                        <div class="item">
                            <h2>{{vm.user.name}}</h2>
                        </div>
                        <p class=" item"><span>{{vm.checked_in_time}}</span></p>

                    </div>

                    <!-- <button ng-show="vm.checkin" class="button button-block button-balanced  " ng-click="vm.chekin()">
                Check in
              </button>
                    <button ng-show="vm.checkin == false" class="button button-block button-balanced " ng-click="vm.checkout()">
                Check out
              </button> -->

                </div>
                <div class="col col-67">
                    <ion-scroll id="pos-customers" overflow-scroll="false" direction="y" scrollbar-x="true" has-bouncing="true">
                        <table id="CashInCashOut">

                            <thead>
                                <tr>
                                    <th class="text-left"><strong>ID</strong></th>
                                    <th class="text-center"><strong>Check in Date</strong></th>
                                    <th class="text-center"><strong>Check out Date</strong></th>
                                    <th class="text-center"><strong>Clock time</strong></th>
                                    <th class="text-center"><strong>Paid Hours</strong></th>
                                    <th class="text-center"><strong>Options</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="checks in vm.checkin_Checkout_history">
                                    <td class="text-left">{{checks.id}}</td>
                                    <td class="text-center">{{checks.checkin_date}}</td>
                                    <td class="text-center">{{checks.checkout_date}}</td>

                                    <td class="text-center"><span>{{checks.clock_in}}</span> - <span ng-hide="checks.clock_out == ''">{{checks.clock_out | date:'H:mm:ss A'}}</span></td>
                                    <td class="text-center">
                                        <p ng-hide="checks.clock_out == ''">{{checks.paid_hour}}</p> <span ng-show="checks.clock_out == ''">{{vm.checked_in_time}}</span>
                                    </td>
                                    <td class="text-center">
                                        <a style="color:black;" ng-click="vm.reports_checkin_checkout(checks.id)" class="icon ion-printer"></a>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </ion-scroll>
                    <ion-infinite-scroll ng-if="vm.noMoreItemsAvailable" on-infinite="vm.loadMore()" distance="10%"></ion-infinite-scroll>
                    </ion-scroll>
                </div>
            </div>

        </div>



        <div id="checkIncheckOut" style="display: none;">
            <h1>{{vm.user.name}}</h1>
            <p>{{vm.date | date:'M/d/yyyy'}}</p>
            <table>
                <h2>Sales Summery </h2>

                <tr>
                    <td width="80%" class="text-left" style="border: 1px solid #959595; padding: 3px; width:10%;"><strong>Delivery Charges</strong></td>
                    <th width="20%" style="border: 1px solid #959595; padding: 3px;" class="text-right">{{ vm.reports_details.total_shipping_charges | number :2 }}</th>
                </tr>
                <tr>
                    <td width="80%" class="text-left" style="border: 1px solid #959595; padding: 3px; width:10%;"><strong>Total Discount</strong></td>
                    <th width="20%" style="border: 1px solid #959595; padding: 3px;" class="text-right">{{ vm.reports_details.total_discount | number :2 }}</th>
                </tr>
                <tr>
                    <td width="80%" class="text-left" style="border: 1px solid #959595; padding: 3px; width:10%;"><strong>Tax</strong></td>
                    <th width="20%" style="border: 1px solid #959595; padding: 3px;" class="text-right">{{ vm.reports_details.total_tax | number :2 }}</th>
                </tr>
                <tr>



                    <td width="80%" class="text-left" style="border: 1px solid #959595; padding: 3px; width:20%;"><strong>Net Sales</strong></td>

                    <th width="20%" style="border: 1px solid #959595; padding: 3px;" class="text-right">{{ vm.reports_details.total_sale | number :2 }}</th>
                </tr>


            </table>
            <table>
                <h2>Sales By Items </h2>

                <thead>
                    <tr>
                        <th style="border: 1px solid #959595; padding: 3px; width:60%;" class="text-left"><strong>Name</strong></th>
                        <th style="border: 1px solid #959595; padding: 3px; width:15%;" class="text-right"><strong>sold</strong></th>
                        <th style="border: 1px solid #959595; padding: 3px; width:25%;" class="text-right"><strong>N.Sales</strong></th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="report in vm.reports_details.sales_by_items">
                        <td style="border: 1px solid #959595; padding: 3px;" class="text-left">{{ report.menu_item_name }} ({{ report.price_title }})</td>
                        <td style="border: 1px solid #959595; padding: 3px;" class="text-right">{{ report.items_count }}</td>
                        <td style="border: 1px solid #959595; padding: 3px;" class="text-right">{{ report.menu_items_total | number :2 }}</td>
                    </tr>

                    <tr>
                        <td style="border: 1px solid #959595; padding: 3px;" colspan="2" class="text-right"><b>{{ vm.total_items_count  }}</b></td>
                        <td style="border: 1px solid #959595; padding: 3px;" class="text-right"><b>{{ vm.totalsale | number :2 }}</b></td>
                    </tr>


                </tbody>
            </table>

            <table>
                <h2>Sales By Category </h2>
                <thead>
                    <tr>
                        <th style="border: 1px solid #959595; padding: 3px; width:60%;" class="text-left"><strong>Categry</strong></th>
                        <th style="border: 1px solid #959595; padding: 3px; width:20%;" class="text-right"><strong>sold</strong></th>
                        <th style="border: 1px solid #959595; padding: 3px; width:20%;" class="text-right"><strong>N.sale</strong></th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="report in vm.reports_details.sales_by_category">
                        <td style="border: 1px solid #959595; padding: 3px;" class="text-left">{{ report.category_name }}</td>
                        <td style="border: 1px solid #959595; padding: 3px;" class="text-right">{{ report.items_count }}</td>
                        <td style="border: 1px solid #959595; padding: 3px;" class="text-right">{{ report.category_total | number :2}}</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #959595; padding: 3px;" colspan="2" class="text-right"><b>{{ vm.cattotal_items_count  }}</b></td>
                        <td style="border: 1px solid #959595; padding: 3px;" class="text-right"><b>{{ vm.cattotalamount_count | number :2}}</b></td>
                    </tr>
                </tbody>
            </table>



        </div>


    </ion-content>
</ion-view>